.lf-ng-md-file-input .lf-ng-md-file-input-container {
  background-color: #4c5560 !important;
}

.lf-ng-md-file-input .lf-ng-md-file-input-container .lf-ng-md-file-input-caption .lf-ng-md-file-input-caption-text .lf-ng-md-file-input-caption-text-default {
  color: rgb(43, 43, 43) !important;
  font-weight: 600 !important;
}

.lf-ng-md-file-input .lf-ng-md-file-input-container .lf-ng-md-file-input-caption .lf-ng-md-file-input-caption-text {
  color: #FFC107 !important;
  font-weight: 600 !important;
}

.lf-ng-md-file-input .lf-ng-md-file-input-preview-container {
  border: 1px solid #293341 !important;
}

.lf-ng-md-file-input .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-drag {
  border: 2px dashed #293341 !important;
}

.lf-ng-md-file-input .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-frame {
  border: 1px solid #293341;
  background: #293341;
}

.lf-ng-md-file-input .lf-ng-md-file-input-preview-container .lf-ng-md-file-input-frame > img {
  height: 106px !important;
}
